
.Rproj.user/shared/notebooks/patch-chunk-names
.Rhistory
*.pper
.Rproj.user/0A5359D9/sources/s-DE907D13/4DCABF6E
.Rproj.user/0A5359D9/sources/s-48F3BD09/EFD3EADE
.Rhistory
*.Rdata
.Rproj.user/0A5359D9/persistent-state
.Rproj.user/0A5359D9/rmd-outputs
.Rproj.user/0A5359D9/saved_source_markers
.Rproj.user/0A5359D9/sources/per/t/8767FBB6
.Rproj.user/0A5359D9/sources/per/t/8767FBB6-contents
.Rproj.user/0A5359D9/sources/per/t/889D82E3
.Rproj.user/0A5359D9/sources/per/t/889D82E3-contents
.Rproj.user/0A5359D9/sources/prop/566D2100
.Rproj.user/0A5359D9/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
